// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// img {
//   width: 50%;
// }

.review {
  margin-top: 30px;
}

.proPic{
	height: 200px;
	width: 200px;
}
